:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: var(--light-gray);
  font-family: 'Outfit', sans-serif;
  min-height: 100%;
  
  /* TO CENTER THE CARD HORIZONTALLY & VERTICALLY */
  display: flex;
  justify-content: center;
  align-items: center;
  /*
    I DON'T WANT TO VERTICALLY CENTER THE CARD.
    BECAUSE THAT WILL REQUIRE GIVING THE BODY A HEIGHT
    OF 100%, AND THAT MAKES THE CARD LOOK BAD ON VERY SMALL
    SCREENS SUCH AS THE iPHONE 4.
  */
}

.card {
  padding: 16px 16px 40px 16px;
  margin: 10px;
  max-width: 320px;
  background-color: var(--white);
  border-radius: 16px;
  text-align: center;
  box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
}

.card__image {
  max-width: 100%;
  display: block;
  border-radius: 8px;
}

.card__heading {
  color: var(--dark-blue);
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card__description {
  color: var(--grayish-blue);
  font-size: 15px;
}